<!DOCTYPE html>
    <html>
        <head>
            <title>My App</title>
        </head>
        <body>
            <form action='/addToCart' method='POST'>
                <label>Product’s Name: <%= pName %>  </label>
                <label>Product's Price: <%= pPrice %> </label>
                <label>Product's Description: <%= pDescription %></label>
                <label>Product's ID: <%= pId %></label>
                <input type="hidden" name="proName" value="'" <%= pName %>"'" >
                <input type="hidden" name="proDecsription" value="'" <%= pDescription %>"'" >
                <input type="hidden" name="proId" value="'" <%= pId %>"'" >
                <input type="hidden" name="proPrice" value="'" <%= pPrice %>"'" >
                 <input type='submit' value='submit query'></label>
            </form>
        </body>
    </html>
    