<!DOCTYPE html>
    <html>
        <head>
            <title>My App- Product List</title>
        </head>
        <body>
            <form action='/addToCart' method='POST'>
                <div><label>Product’s Name: <%= pName %>  </label>

                <div><label>Product's Price: <%= pPrice %> </label></div>
               
                
                <input type="hidden" name="cart" value=" <%= cartArrSession %>" >
                <input type="hidden" name="proPrice" value=" <%= pPrice %>" >
               <input type="hidden" name="proPathname" value=" <%= pathnameHidden %>" 
                <div><label> <input type='submit' value='Add to cart'></label></div>
            </form>
        </body>
    </html>
    